<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Z-Arm_10042C0">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Z-Arm_10042C0 urdf file -->
    <xacro:include filename="$(find hitbot_sim)/urdf/Z-Arm_10042C0_moveit2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Z-Arm_10042C0.ros2_control.xacro" />


    <xacro:Z-Arm_10042C0_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
    <!-- <xacro:Z-Arm_10042C0_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>